###
# This file is a template. The credentials
# are not stored in this repo but will be 
# available in the project documentation.
###

# Wifi credentials
wifi_password: ""
wifi_ssid: ""
# Fallback wifi password
ap_password: ""

# Configuration credentials
ota_password: ""